*.js
!frontend/eslint.config.js
!frontend/postcss.config.js
!frontend/tailwind.config.js
!jest.config.js
*.d.ts
node_modules
*.env
# CDK asset staging directory
.cdk.staging
cdk.out
pecunia-admin_accessKeys.csv